# http://EditorConfig.org
# See Plugin for VS: https://github.com/editorconfig/editorconfig-visualstudio
# Other editors: http://editorconfig.org/#download

# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 140

# Tab with 4 spaces.
indent_style = tab
indent_size = 4
tab_width = 4
charset = utf-8

# MSBuild
[*.{csproj,proj,projitems,shproj,fsproj,target,props}]
indent_style = space
indent_size = 2

# Bash/Python files
[*.py]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8

